:root {
	--container-width: 1530px;
	--container-padding: 15px;

	@media (max-width: 1440px) {
		--container-width: 1212px;
	}

	@media (max-width: 1280px) {
		--container-width: 1212px;
	}

	@media (max-width: 1024px) {
		--container-width: 920px;
	}

	@media (max-width: 768px) {
		--container-width: 660px;
	}

	@media (max-width: 375px) {
		--container-width: 330px;
	}

	--font-main: 'PF Handbook Pro',
	sans-serif;
	--font-accent: 'Playfair Display',
	serif;

	--laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;

	//color


	--color-white: #ffffff;

	--text-color: #333333;
	--color-gray: #565658;


	--color-green: #A3E07E;
	--color-green-inverse: #71BD44;

	--color-yellow: #FDED84;
	--color-yellow-inverse: #FFDD00;

	--color-rose: #FF9CCA;
	--color-rose-inverse:#F669B8;

	--color-crayola: #EF4D9C;

	--color-orange: #FDB96B;
	--color-orange-inverse: #F9931F;

	--color-blue: #96E9F9;

	--color-blue-inverse: #50DAF5;

}