.main-slide {
    padding: 273px 80px 329px;
}

.main-slide__content {
    max-width: 30%;
}

.slider--main {
    position: relative;
    background-color: #F8F8F8;
    background-image: url("./../../img/main/baby.png"), url("./../../img/main/box.png"), url("./../../img/main/main-background.svg");
    background-size: 921px 639px, 432px 371px, 1920px 887px;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: calc(50% + 480px) bottom, calc(50% + 190px) calc(50% - 60px), center center;
}

.slider--main .slick-dots {
    position: absolute;
    bottom: 115px;
    left: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    list-style: none;
    padding: 0;
}

.slider--main .slick-dots li {
    position: relative;
}

/* фоновая кратинка */
.slider--main .slick-dots li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    transition: opacity 300ms ease;
}

.slider--main .slick-dots li:nth-child(1)::before {
    background-image: url("./../../img/main/main-slick-dot-1.svg");
}

.slider--main .slick-dots li:nth-child(2)::before {
    background-image: url("./../../img/main/main-slick-dot-2.svg");
}

.slider--main .slick-dots li:nth-child(3)::before {
    background-image: url("./../../img/main/main-slick-dot-3.svg");
}

.slider--main .slick-dots .slick-active::before {
    opacity: 1;
}


/* кнопка с текстом */
.slider--main .slick-dots li button {
    position: relative;
    border: none;
    padding: 0;
    background-color: transparent;
    width: 60px;
    height: 64px;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
    transition: color 300ms ease;
}

.slider--main .slick-dots .slick-active button {
    color: #FFFFFF;
}