.slider-wrap {
    padding: 109px 0;
    background: #F8F8F8;

    @media (max-width: 1440px) {
        padding: 80px 0;
    }

    @media (max-width: 768px) {
        padding: 66px 0;
    }

    @media (max-width: 768px) {
        padding: 60px 0;
    }
}

.slider--brands .slick-slide {
    width: 278px !important;
    height: 186px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-white);
    margin-right: 12px;

    &:hover {
        transition: transform .5s;
        transform: scale(0.8);
    }

    @media (max-width: 1440px) {
        width: 208px !important;
        height: 140px;
        margin-right: 8px;
    }

    @media (max-width: 768px) {
        width: 178px !important;
        height: 120px;
        margin-right: 8px;
    }

    @media (max-width: 375px) {
        width: 126px !important;
        height: 84px;
        margin-right: 12px;
    }
}

.slider--brands .slider-wrap-img {
    & .slider-img-1 {
        width: 152px;
        height: 71px;

        @media (max-width: 1440px) {
            width: 114px;
            height: 54px;
        }

        @media (max-width: 768px) {
            width: 98px;
            height: 46px;
        }
    }

    & .slider-img-2 {
        width: 178px;
        height: 71px;

        @media (max-width: 1440px) {
            width: 134px;
            height: 54px;
        }

        @media (max-width: 768px) {
            width: 114px;
            height: 46px;
        }
    }

    & .slider-img-3 {
        width: 100px;
        height: 98px;

        @media (max-width: 1440px) {
            width: 75px;
            height: 74px;
        }

        @media (max-width: 768px) {
            width: 64px;
            height: 63px;
        }
    }

    & .slider-img-4 {
        width: 86px;
        height: 90px;

        @media (max-width: 1440px) {
            width: 65px;
            height: 68px;
        }

        @media (max-width: 768px) {
            width: 55px;
            height: 58px;
        }
    }

    & .slider-img-5 {
        width: 170px;
        height: 64px;

        @media (max-width: 1440px) {
            width: 128px;
            height: 48px;
        }

        @media (max-width: 768px) {
            width: 110px;
            height: 42px;
        }
    }

    & .slider-img-6 {
        width: 98px;
        height: 106px;

        @media (max-width: 1440px) {
            width: 74px;
            height: 80px;
        }
    }
}