.wrapper {
    overflow: hidden;
}

.aaa__container,
.bbb__container,
.ccc__container {
    max-width: 95.625rem;
    margin: 0 auto;
    padding: 0 0.9375rem;
}

.but__container {
    max-width: 95.625rem;
    margin: 0 auto;
    padding: 0 0.9375rem;
}

.item {
    display: block;
    height: 884px;
    background: #F8F8F8;

    @media (max-width:1445px) {
        display: none;
    }
}

.know {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 18px 42px;
    background-color: var(--color-crayola);
    position: relative;
    z-index: 22;
}


.one.active {
    color: #fff;
    background: url(./../../img/start/icon/11.svg) no-repeat center center;
    width: 60px;
    height: 64px;
    background-size: contain !important;
}

.two.active {
    color: #fff;
    background: url(./../../img/start/icon/22.svg) no-repeat center center;
    width: 60px;
    height: 64px;
    background-size: contain !important;
}

.three.active {
    color: #fff;
    background: url(./../../img/start/icon/33.svg) no-repeat center center;
    width: 60px;
    height: 64px;
    background-size: contain !important;
}

.one.actives {
    color: #fff;
    background: url(./../../img/start/icon/11.svg) no-repeat center center;
    width: 45px;
    height: 48px;

    @media (max-width: 1440px) {
        background-size: contain !important;
    }
}

.two.actives {
    color: #fff;
    background: url(./../../img/start/icon/22.svg) no-repeat center center;
    width: 48px;
    height: 48px;

    @media (max-width: 1440px) {
        background-size: contain !important;
    }
}

.three.actives {
    color: #fff;
    background: url(./../../img/start/icon/33.svg) no-repeat center center;
    width: 45px;
    height: 48px;

    @media (max-width: 1440px) {
        background-size: contain !important;
    }
}

.but__container {
    position: relative;
    z-index: 4;
    transform: translate(-18px, -2936px);
    width: 100%;
    margin: -36px auto;
}



.butt {
    position: relative;
    z-index: 6;
    font-weight: 300;
    font-size: 17px;
    padding: 15px 22px;
    margin-right: 20px;
}

.title {
    font-family: var(--font-main);
    font-weight: 100;
    font-size: 72px;
    line-height: 70px;
    color: var(--text-color);
    max-width: 690px;

}

.text {
    font-family: var(--font-main);
    font-weight: 300;
    font-size: 28px;
    line-height: 36px;
    color: var(--text-color);
    max-width: 585px;
    margin: 42px 0;
}

.aaa {
    position: static;
}



.bbb {
    transform: translate(0, -100%);
}

.ccc {
    transform: translate(0, -199%);

}

.one .bbb {
    transition: 0.5s;
    transform: translate(0, -100%);
}

.two .bbb {
    transition: 0.5s;
    transform: translate(-50px, -100%);
}

.three .bbb {
    transition: 0.5s;
    transform: translate(-100px, -100%);
}

.one .aaa {
    transition: 0.5s;
    transform: translate(0, 0);
}

.two .aaa {
    transition: 0.5s;
    transform: translate(-30px, 0);
}

.three .aaa {
    transition: 0.5s;
    transform: translate(-60px, 0);
}






.aaa__container {
    transform: translate(0, -2360px);
}

.one .aaa__container {
    transition: 0.5s;
    transform: translate(0, -2332px);
}

.two .aaa__container {
    transition: 0.5s;
    transform: translate(-100%, -2332px);
}

.three .aaa__container {
    transition: 0.5s;
    transform: translate(-100%, -2350px);
}


.bbb__container {
    transform: translate(150%, -2697px);
}

.one .bbb__container {
    transition: 0.5s;
    transform: translate(150%, -2688px);
}

.two .bbb__container {
    transition: 0.5s;
    transform: translate(0, -2688px);
}

.three .bbb__container {
    transition: 0.5s;
    transform: translate(-100%, -2706px);
}


.ccc__container {
    transform: translate(130%, -3034px);
}

.one .ccc__container {
    transition: 0.5s;
    transform: translate(130%, -3044px);
}

.two .ccc__container {
    transition: 0.5s;
    transform: translate(130%, -3062px);
}

.three .ccc__container {
    transition: 0.5s;
    transform: translate(0, -3062px);
}


// ================== run ========================


.run {
    display: none;

    @media (max-width:1445px) {
        display: block;
        height: 662px;
        background: #F8F8F8;
    }

    @media (max-width:1281px) {
        display: none;
    }
}

.aaas {
    position: static;

    @media (max-width:1280px) {
        margin-left: 74px;
    }
}

.bbbs {
    transform: translate(0, -100%);

    @media (max-width:1280px) {
        margin-left: 74px;
    }
}

.cccs {
    transform: translate(0, -200%);

    @media (max-width:1280px) {
        margin-left: 0;
    }
}


.container-title {
    font-family: var(--font-main);
    font-weight: 100;
    font-size: 54px;
    line-height: 54px;
}

.container-text {
    font-family: var(--font-main);
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    margin: 31px 0;
}

.knows {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: var(--color-white);
    padding: 14px 33px;
    background-color: var(--color-crayola);

    @media (max-width: 1440px) {
        line-height: 18px;
        padding: 14px 33px;
    }
}


.butts {
    position: relative;
    z-index: 7;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    padding: 12px 16px;
    margin-right: 10px;
}

.ones .aaas {
    transition: 0.5s;
    transform: translate(0, 0);
}

.twos .aaas {
    transition: 0.5s;
    transform: translate(-50px, 0);
}

.threes .aaas {
    transition: 0.5s;
    transform: translate(-100px, 0);
}

.ones .bbbs {
    transition: 0.5s;
    transform: translate(0, -100%);
}

.twos .bbbs {
    transition: 0.5s;
    transform: translate(-30px, -100%);
}

.threes .bbbs {
    transition: 0.5s;
    transform: translate(-60px, -100%);
}

.aaa_container {
    max-width: 402px;
    transform: translate(113px, -1772px);

    @media (max-width:1280px) {
        transform: translate(32px, -1612px);
    }
}

.ones .aaa_container {
    transition: 0.5s;
    transform: translate(113px, -1772px);

    @media (max-width:1280px) {
        transform: translate(32px, -1612px);
    }
}

.twos .aaa_container {
    transition: 0.5s;
    transform: translate(-120%, -1771px);
}

.threes .aaa_container {
    transition: 0.5s;
    transform: translate(-120%, -1770px);
}

.bbb_container {
    max-width: 402px;
    transform: translate(440%, -2035px);
}

.ones .bbb_container {
    transition: 0.5s;
    transform: translate(440%, -2036px);
}

.twos .bbb_container {
    transition: 0.5s;
    transform: translate(113px, -2035px);

    @media (max-width:1280px) {
        transform: translate(32px, -2060px);
    }
}

.threes .bbb_container {
    transition: 0.5s;
    transform: translate(-110%, -2034px);
}


.ccc_container {
    max-width: 402px;
    transform: translate(390%, -2318px);
}

.ones .ccc_container {
    transition: 0.5s;
    transform: translate(390%, -2300px);
}

.twos .ccc_container {
    transition: 0.5s;
    transform: translate(390%, -2299px);
}

.threes .ccc_container {
    transition: 0.5s;
    transform: translate(113px, -2298px);

    @media (max-width:1280px) {
        transform: translate(32px, -2370px);
    }
}

.but_containers {
    transform: translate(99px, -2230px);

    @media (max-width:1440px) {
        transform: translate(14px, -2178px);
        margin-top: -68px;
        margin-left: 86px;
    }

    @media (max-width:1280px) {
        transform: translate(-54px, -2072px);
    }
}


// ================== coub ========================

.coub {
    display: none;

    @media (max-width:1280px) {
        display: block;
        width: 1280px;
        height: 662px;
        background: #F8F8F8;
    }

    @media (max-width:1024px) {
        display: none;
    }
}

.aaass {
    position: static;

    @media (max-width:1280px) {
        margin-left: 74px;
    }
}

.bbbss {
    transform: translate(0, -100%);

    @media (max-width:1280px) {
        margin-left: 74px;
    }
}

.cccss {
    transform: translate(0, -200%);

    @media (max-width:1280px) {
        margin-left: 0;
    }
}


.coub-title {
    font-family: var(--font-main);
    font-weight: 100;
    font-size: 54px;
    line-height: 54px;
}

.coub-text {
    font-family: var(--font-main);
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    margin: 31px 0;
}

.coub-more {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    padding: 14px 33px;
    background-color: var(--color-crayola);
}


.btn {
    position: relative;
    z-index: 7;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    padding: 12px 16px;
    margin-right: 10px;
}

.ones .aaass {
    transition: 0.5s;
    transform: translate(0, 0);
}

.twos .aaass {
    transition: 0.5s;
    transform: translate(-50px, 0);
}

.threes .aaass {
    transition: 0.5s;
    transform: translate(-100px, 0);
}

.ones .bbbss {
    transition: 0.5s;
    transform: translate(0, -100%);
}

.twos .bbbss {
    transition: 0.5s;
    transform: translate(-30px, -100%);
}

.threes .bbbss {
    transition: 0.5s;
    transform: translate(-60px, -100%);
}

.aaa_coub {
    max-width: 402px;
    transform: translate(32px, -1758px);
}

.ones .aaa_coub {
    transition: 0.5s;
    transform: translate(32px, -1758px);
}

.twos .aaa_coub {
    transition: 0.5s;
    transform: translate(-120%, -1759px);
}

.threes .aaa_coub {
    transition: 0.5s;
    transform: translate(-120%, -1758px);
}

.bbb_coub {
    max-width: 402px;
    transform: translate(440%, -2035px);
}

.ones .bbb_coub {
    transition: 0.5s;
    transform: translate(440%, -2021px);
}

.twos .bbb_coub {
    transition: 0.5s;
    transform: translate(32px, -2022px);
}

.threes .bbb_coub {
    transition: 0.5s;
    transform: translate(-110%, -2021px);
}


.ccc_coub {
    max-width: 402px;
    transform: translate(390%, -2318px);
}

.ones .ccc_coub {
    transition: 0.5s;
    transform: translate(390%, -2284px);
}

.twos .ccc_coub {
    transition: 0.5s;
    transform: translate(390%, -2285px);
}

.threes .ccc_coub {
    transition: 0.5s;
    transform: translate(32px, -2284px);
}

.but_coub {
    @media (max-width:1280px) {
        transform: translate(20px, -2232px);
    }
}


// ================== plan ========================

.plan {
    display: none;

    @media (max-width:1024px) {
        display: block;
        height: 572px;
        background: #F8F8F8;
    }

    @media (max-width:768px) {
        display: none;
    }


    // .plan_containera

    &_containera {
        max-width: 342px;
        transform: translate(53px, -1572px);
    }

    // .plan_containerb

    &_containerb {
        max-width: 342px;
        transform: translate(300%, -1816px);
    }

    // .plan_containerc

    &_containerc {
        max-width: 342px;
        transform: translate(300%, -2060px);
    }
}

.planb {
    transform: translate(0, -100%);
}

.planc {
    transform: translate(0, -200%);
}

.plan-title {
    font-family: var(--font-main);
    font-weight: 100;
    font-size: 44px;
    line-height: 44px;
}

.plan-text {

    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
    margin: 31px 0;
}

.knowb {
    font-family: var(--font-main);
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    padding: 14px 34px;
    background-color: var(--color-crayola);
    font-weight: 500;
}

.but {

    // .but_plan

    &_plan {
        transform: translate(53px, -2010px);
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        font-family: var(--font-main);
    }
}

.buttsplan {
    position: relative;
    z-index: 7;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    padding: 12px 16px;
    margin-right: 9px;
}

.one.activess {
    color: #fff;
    background: url(./../../img/start/icon/11.svg) no-repeat center center;
    width: 45px;
    height: 48px;

    @media (max-width: 1024px) {
        background-size: contain !important;
    }
}

.two.activess {
    color: #fff;
    background: url(./../../img/start/icon/22.svg) no-repeat center center;
    width: 48px;
    height: 48px;

    @media (max-width: 1024px) {
        background-size: contain !important;
    }
}

.three.activess {
    color: #fff;
    background: url(./../../img/start/icon/33.svg) no-repeat center center;
    width: 45px;
    height: 48px;

    @media (max-width: 1024px) {
        background-size: contain !important;
    }
}


.plana {
    @media (max-width: 1024px) {
        margin-left: 32px;
    }
}

.onesa .plana {
    transition: 0.5s;
    transform: translate(0, 0);
}

.twosb .plana {
    transition: 0.5s;
    transform: translate(-33px, 0);
}

.threesc .plana {
    transition: 0.5s;
    transform: translate(-66px, 0);
}




.onesa .planb {
    transition: 0.5s;
    transform: translate(0, -100%);
}

.twosb .planb {
    transition: 0.5s;
    transform: translate(-30px, -100%);
}

.threesc .planb {
    transition: 0.5s;
    transform: translate(-60px, -100%);
}





.onesa .plan_containera {
    transition: 0.5s;
    transform: translate(53px, -1572px);
}

.twosb .plan_containera {
    transition: 0.5s;
    transform: translate(-100%, -1572px);
}

.threesc .plan_containera {
    transition: 0.5s;
    transform: translate(-100%, -1572px);
}



.onesa .plan_containerb {
    transition: 0.5s;
    transform: translate(300%, -1816px);
}

.twosb .plan_containerb {
    transition: 0.5s;
    transform: translate(53px, -1816px);
}

.threesc .plan_containerb {
    transition: 0.5s;
    transform: translate(-100%, -1816px);
}


.onesa .plan_containerc {
    transition: 0.5s;
    transform: translate(300%, -2060px);
}

.twosb .plan_containerc {
    transition: 0.5s;
    transform: translate(300%, -2060px);
}

.threesc .plan_containerc {
    transition: 0.5s;
    transform: translate(53px, -2060px);
}







.seven {
    display: none;

    @media (max-width:768px) {
        display: block;
        height: 534px;
        background: #F8F8F8;
    }

    @media (max-width:375px) {
        display: none;
    }

    // .seven_containera

    &_containera {
        padding-right: 20px;
        max-width: 350px;
        transform: translate(53px, -410px);
    }

    // .seven_containerb

    &_containerb {
        padding-right: 20px;
        max-width: 350px;
        transform: translate(300%, -650px);
    }

    // .seven_containerc

    &_containerc {
        padding-right: 20px;
        max-width: 350px;
        transform: translate(300%, -890px);
    }
}

.seven-title {
    font-family: var(--font-main);
    font-weight: 100;
    font-size: 44px;
    line-height: 44px;
}

.seven-text {
    font-family: var(--font-main);
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
    margin: 31px 0;
}

.mob {
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--color-white);
    padding: 14px 33px;
    background-color: var(--color-crayola);
}

.but {

    // .but_seven

    &_seven {
        transform: translate(53px, -844px);
    }
}

.buttseven {
    position: relative;
    z-index: 7;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    padding: 12px 16px;
    margin-right: 9px;
}

.one.activeseven {
    color: #fff;
    background: url(./../../img/start/icon/11.svg) no-repeat center center;
    width: 45px;
    height: 48px;

    @media (max-width: 768px) {
        background-size: contain !important;
    }
}

.two.activeseven {
    color: #fff;
    background: url(./../../img/start/icon/22.svg) no-repeat center center;
    width: 48px;
    height: 48px;

    @media (max-width: 768px) {
        background-size: contain !important;
    }
}

.three.activeseven {
    color: #fff;
    background: url(./../../img/start/icon/33.svg) no-repeat center center;
    width: 45px;
    height: 48px;

    @media (max-width: 768px) {
        background-size: contain !important;
    }
}



.oneseven .seven_containera {
    transition: 0.5s;
    transform: translate(53px, -406px);
}

.twoseven .seven_containera {
    transition: 0.5s;
    transform: translate(-100%, -406px);
}

.threeseven .seven_containera {
    transition: 0.5s;
    transform: translate(-100%, -410px);
}

.oneseven .seven_containerb {
    transition: 0.5s;
    transform: translate(300%, -650px);
}

.twoseven .seven_containerb {
    transition: 0.5s;
    transform: translate(53px, -650px);
}

.threeseven .seven_containerb {
    transition: 0.5s;
    transform: translate(-100%, -650px);
}

.oneseven .seven_containerc {
    transition: 0.5s;
    transform: translate(300%, -894px);
}

.twoseven .seven_containerc {
    transition: 0.5s;
    transform: translate(300%, -894px);
}

.threeseven .seven_containerc {
    transition: 0.5s;
    transform: translate(53px, -894px);
}








.tel {
    display: none;

    @media (max-width:375px) {
        display: block;
        height: 812px;
        background: #F8F8F8;
    }

    @media (max-width:320px) {
        display: none;
    }

    // .tel_containera

    &_containera {
        transform: translate(23px, 0);
    }

    // .tel_containerb

    &_containerb {
        transform: translate(100%, -100%);
    }

    // .tel_containerc

    &_containerc {
        transform: translate(100%, -200%);
    }
}

.tel-title {
    font-family: var(--font-main);
    font-weight: 100;
    font-size: 40px;
    line-height: 44px;
    color: var(--text-color);
}

.tel-text {
    font-family: var(--font-main);
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;
    color: var(--text-color);
    margin: 28px 0 32px 0;
}

.mobtel {
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--color-white);
    padding: 14px 33px;
    background-color: var(--color-crayola);
    border-radius: 4px;
}

.but {

    // .but_tel

    &_tel {
        transform: translate(0, -286px);
    }
}

.butttel {
    position: relative;
    z-index: 7;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    padding: 12px 16px;
    margin-right: 9px;
    transform: translate(23px, -200px);
}

.one.activetel {
    color: #fff;
    background: url(./../../img/start/icon/11.svg) no-repeat center center;
    width: 48px;
    height: 50px;

    @media (max-width: 375px) {
        background-size: contain !important;
    }
}

.two.activetel {
    color: #fff;
    background: url(./../../img/start/icon/22.svg) no-repeat center center;
    width: 50px;
    height: 50px;

    @media (max-width: 375px) {
        background-size: contain !important;
    }
}

.three.activetel {
    color: #fff;
    background: url(./../../img/start/icon/33.svg) no-repeat center center;
    width: 48px;
    height: 50px;

    @media (max-width: 375px) {
        background-size: contain !important;
    }
}

.onetel .tel_containera {
    transition: 0.5s;
    transform: translate(23px, 0);
}

.twotel .tel_containera {
    transition: 0.5s;
    transform: translate(-100%, 0);
}

.threetel .tel_containera {
    transition: 0.5s;
    transform: translate(-100%, 0);
}


.onetel .tel_containerb {
    transition: 0.5s;
    transform: translate(100%, -100%);
}

.twotel .tel_containerb {
    transition: 0.5s;
    transform: translate(23px, -100%);
}

.threetel .tel_containerb {
    transition: 0.5s;
    transform: translate(-100%, -100%);
}


.onetel .tel_containerc {
    transition: 0.5s;
    transform: translate(100%, -200%);
}

.twotel .tel_containerc {
    transition: 0.5s;
    transform: translate(100%, -200%);
}

.threetel .tel_containerc {
    transition: 0.5s;
    transform: translate(23px, -200%);
}






.mini {
    display: none;
    
    @media (max-width:320px) {
        display: block;
        height: 568px;
        background: #F8F8F8;
    }

    // .mini_containera

    &_containera {
        max-width: 272px;
        transform: translate(23px, -16px);
    }

    // .mini_containerb

    &_containerb {
        max-width: 272px;
        transform: translate(150%, -230px);

    }

    // .mini_containerc

    &_containerc {
        max-width: 272px;
        transform: translate(150%, -444px);

    }
}

.mini-title {
    font-family: var(--font-main);
    font-weight: 100;
    font-size: 32px;
    line-height: 32px;
    color: var(--text-color);
}

.mini-text {
    font-family: var(--font-main);
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-color);
    margin: 12px 0 20px 0;
}

.mobmini {
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--color-white);
    padding: 14px 33px;
    background-color: var(--color-crayola);
    border-radius: 4px;
}

.but {

    // .but_mini

    &_mini {
        transform: translate(23px, -430px);
    }
}

.buttmini {
    position: relative;
    z-index: 7;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    padding: 12px 16px;
    margin-right: 9px;
}

.one.activemini {
    color: #fff;
    background: url(./../../img/start/icon/11.svg) no-repeat center center;
    width: 48px;
    height: 50px;
    color: #fff;

    @media (max-width: 375px) {
        background-size: contain !important;
    }
}

.two.activemini {
    color: #fff;
    background: url(./../../img/start/icon/22.svg) no-repeat center center;
    width: 50px;
    height: 50px;
    color: #fff;

    @media (max-width: 375px) {
        background-size: contain !important;
    }
}

.three.activemini {
    color: #fff;
    background: url(./../../img/start/icon/33.svg) no-repeat center center;
    width: 48px;
    height: 50px;
    color: #fff;

    @media (max-width: 375px) {
        background-size: contain !important;
    }
}


.onemini .mini_containera {
    transition: 0.5s;
    transform: translate(23px, -16px);
}

.twomini .mini_containera {
    transition: 0.5s;
    transform: translate(-120%, -16px);
}

.threemini .mini_containera {
    transition: 0.5s;
    transform: translate(-120%, -16px);
}


.onemini .mini_containerb {
    transition: 0.5s;
    transform: translate(150%, -230px);
}

.twomini .mini_containerb {
    transition: 0.5s;
    transform: translate(23px, -230px);
}

.threemini .mini_containerb {
    transition: 0.5s;
    transform: translate(-150%, -230px);
}


.onemini .mini_containerc {
    transition: 0.5s;
    transform: translate(150%, -444px);
}

.twomini .mini_containerc {
    transition: 0.5s;
    transform: translate(150%, -444px);
}

.threemini .mini_containerc {
    transition: 0.5s;
    transform: translate(23px, -444px);
}